{% extends 'base.html.twig' %}

{% block title %}PreParfumer!{% endblock %}

{% block body %}
<div class="video-content d-flex justify-content-center align-items-center overflow-hidden" style="height: 100vh; padding: 0; margin: 0;">
    <video class="w-100 h-100" style="object-fit: cover;" autoplay loop muted>
        <source src="{{ asset('/uploads/images/VideoPageAccueil.mp4') }}" type="video/mp4">
        Votre navigateur ne supporte pas la balise vidéo.
    </video>
</div>

<div class="d-flex flex-column align-items-center justify-content-center text-center text-white" style="position: relative; z-index: 1; padding: 0; margin: 0;">
    <h1 class="h1Twig">Pre Parfumer</h1>
    <h2 class="title h1Twig">«Sélectif» - Collection Privée PREparfumer®</h2>
    <h3 class="title h1Twig">CE N’EST PAS SEULEMENT UN PARFUM…</h3>
    <h5 class="text h1Twig">«Sélectif» est une collection innovante qui rassemble les tendances les plus populaires de la parfumerie de niche. Il ne s'agit pas seulement d'un concentré de parfum (Extrait de Parfum) à la tenue équilibrée, mais aussi d'une senteur sophistiquée qui allie des notes olfactives uniques comme le patchouli, la vanille et la bergamote.

    La formule exclusive de ces fragrances, présentée dans un élégant coffret, crée une ambiance particulière et libère davantage de vos propres phéromones, tout en sublimant votre image. Vaporisez ces parfums en vogue et découvrez une composition olfactive raffinée avec des touches florales, boisées de cèdre et de musc, qui procurent une fraîcheur durable.

    Essayez la collection PREparfumer® « Sélectif » et apportez une touche finale à votre style avec des senteurs envoûtantes, qu'elles soient florales, fruitées ou aromatiques. Ces créations sont disponibles en eau de toilette et en spray, pour une expérience parfumée sur mesure.
    </h5>
</div>

<div class="container-fluid position-relative p-0" style="height: 100vh;">
    <img src="{{ asset('/uploads/images/AssortimentParfumsOdeurSentenceOlfactive.jpg') }}" alt="Image de fond" class="img-fluid" style="object-fit: cover; width: 100%; height: 100%;">
</div>

<h1 class="h1Twig text-center mt-5">Sélectif - Collection Privée exclusif</h1>

<div class="container d-flex flex-wrap bg-black text-white my-5 p-0">
    <div class="text-content flex-fill d-flex flex-column justify-content-center align-items-center p-3">
        <h2 class="h1Twig">Parfum exclusif</h2>
        <h4 class="h1Twig">EXCLUSIVEMENT POUR VOUS DANS UN FLACON ARTISANAL UNIQUE AU MONDE.</h4>
        <p class="text-justify fs-5">
            Le grand art de la parfumerie et l’artisanat du verre s’unissent pour créer un chef-d’œuvre olfactif que vous seul pouvez posséder. Ce parfumé unique, issu des meilleures essences, allie des notes florales sensuelles comme le jasmin, la lavande, et la fleur d’oranger, avec une touche boisée de santal. Présenté dans un flacon raffiné, chaque vaporisateur révèle des notes de tête fraîches et agrumées, évoquant la mandarine et l'eau de Cologne.

            Le maître parfumeur, en collaboration avec les artisans verriers, crée des parfums d'exception qui laissent un sillage inoubliable. Les coffrets de cette édition limitée vous invitent à découvrir des eaux de parfum raffinées aux bouquets floraux, où chaque odeur raconte une histoire de sophistication.

            Offrez-vous une expérience parfumée avec des eaux fraîches, où chaque goutte libère un mélange olfactif équilibré, créant un parfum sensuel et durable. Explorez l'univers des parfumeurs et découvrez des fragrances luxueuses, idéales pour les amateurs de cosmétiques haut de gamme et de senteurs uniques.
        </p>
    </div>

    <div class="video-content flex-fill d-flex justify-content-center align-items-center p-0">
        <video class="w-100 h-100" style="object-fit: cover;" autoplay loop muted>
            <source src="{{ asset('/uploads/images/ParfumUniqueVaporisateurSensuelSillageFloraleÉditionLimitéeCoffretsLuxueuxEssencesFraîches.mp4') }}" type="video/mp4">
            Votre navigateur ne supporte pas la balise vidéo.
        </video>
    </div>
</div>

<div class="text-content text-center mb-5">
    <h2 class="h1Twig">Sélectif Travel - Collection Privée PREparfumer®</h2>
    <p>RENDEZ-VOUS À L'ÉTÉ 2024 POUR L’OUVERTURE DES VENTES.</p>
</div>

<div class="container-fluid position-relative p-0" style="height: 100vh;">
    <img src="{{ asset('/uploads/images/SelectionVoyage.jpg') }}" alt="Image de fond" class="img-fluid" style="object-fit: cover; width: 100%; height: 100%;">
</div>

{% endblock %}

