{% extends 'base.html.twig' %}

{% block title %}PreParfumer!{% endblock %}

{% block body %}
<div class="video-content d-flex justify-content-center align-items-center overflow-hidden" style="height: 100vh; padding: 0; margin: 0;">
    <video class="w-100 h-100" style="object-fit: cover;" autoplay loop muted>
        <source src="{{ asset('/uploads/images/VideoPageAccueil.mp4') }}" type="video/mp4">
        Votre navigateur ne supporte pas la balise vidéo.
    </video>
</div>

<div class="d-flex flex-column align-items-center justify-content-center text-center text-white" style="position: relative; z-index: 1; padding: 0; margin: 0;">
    <h1 class="h1Twig">Pre Parfumer</h1>
    <h2 class="title">«Sélectif» - Collection Privée PREparfumer®</h2>
    <h3 class="title">CE N’EST PAS SEULEMENT UN PARFUM…</h3>
    <h5 class="text">«Sélectif» est une collection innovante qui rassemble les tendances les plus populaires de la parfumerie de niche. 
        <br>Il ne s’agit pas seulement d’un concentré de parfum (Extrait de Parfum) à la tenue équilibrée. 
        <br>La formule unique des fragrances crée une ambiance particulière et aide le corps à libérer davantage de ses propres phéromones. 
        <br>Essayez la collection PREparfumer® « Sélectif » et donnez à votre image une touche finale avec des parfums en vogue et sophistiqués!
    </h5>
</div>

<div class="container-fluid position-relative p-0" style="height: 100vh;">
    <img src="{{ asset('/uploads/images/AssortimentParfumsOdeurSentenceOlfactive.jpg') }}" alt="Image de fond" class="img-fluid" style="object-fit: cover; width: 100%; height: 100%;">
</div>

<h1 class="h1Twig text-center mt-5">Sélectif - Collection Privée exclusif</h1>

<div class="container d-flex flex-wrap bg-black text-white my-5 p-0">
    <div class="text-content flex-fill d-flex flex-column justify-content-center align-items-center p-3">
        <h2>Parfum exclusif</h2>
        <h4>EXCLUSIVEMENT POUR VOUS DANS UN FLACON ARTISANAL UNIQUE AU MONDE.</h4>
        <p class="text-center fs-5">
            Le grand art de la parfumerie et l’artisanat du verre s’associent pour créer un chef-d’œuvre que vous seul pouvez posséder. Seul un artisan peut créer quelque chose qui marquera le monde de son empreinte. 
            Le compositeur de parfums et le maître verrier rivalisent pour atteindre la perfection. Choisissez le meilleur et laissez-vous séduire par un parfum unique créé juste pour vous.
        </p>
    </div>

    <div class="video-content flex-fill d-flex justify-content-center align-items-center p-0">
        <video class="w-100 h-100" style="object-fit: cover;" autoplay loop muted>
            <source src="{{ asset('/uploads/images/PafumUniqueMondeFlagrance.mp4') }}" type="video/mp4">
            Votre navigateur ne supporte pas la balise vidéo.
        </video>
    </div>
</div>

<div class="text-content text-center mb-5">
    <h2 class="h1Twig">Sélectif Travel - Collection Privée PREparfumer®</h2>
    <p>RENDEZ-VOUS À L'ÉTÉ 2024 POUR L’OUVERTURE DES VENTES.</p>
</div>

<div class="container-fluid position-relative p-0" style="height: 100vh;">
    <img src="{{ asset('/uploads/images/SelectionVoyage.jpg') }}" alt="Image de fond" class="img-fluid" style="object-fit: cover; width: 100%; height: 100%;">
</div>

{% endblock %}

