{% extends 'base.html.twig' %}

{% block title %}Nouvelle Sous Catégorie
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="h1Twig">Créer une nouvelle sous catégorie</h1>

		{{ include('sous_categorie/_form.html.twig') }}

		<a href="{{ path('app_sous_categorie_index') }}" class="btn btn-primary m-1">Retour à la liste</a>
	</div>
{% endblock %}
