
<footer>
	<div class="footer-container">
		<div class="footer-column logo">
			<h2>MADE IN FRANCE</h2>
			<img src="{{ asset('Images/WPreParfumerlogo.png') }}" alt="Logo" class="footer-logo">
		</div>
		<div class="footer-column products">
			<h3>PRODUCTS</h3>
			<ul>
				<li>Sélectif</li>
				<li>Sélectif Travel</li>
				<li>Côte d’Azur</li>
				<li>Parfum exclusif</li>
			</ul>
		</div>
		<div class="footer-column contact">
			<h3>CONTACTS</h3>
			<p>1050 Route de la mer,<br>Biot 06410, France</p>
			<p>office@preparfumer.com</p>
		</div>
	</div>
</footer>